@import '/styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

main {
  background-color: var(--low-op-bg-color);
}

.article-row:after {
  content: "";
  display: table;
  clear: both;
}

.article-column {
  float: left;
  width: 50%;
  padding: 2.5rem;
}

.article-column h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article-column p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: justify;
}

.article-column p img {
  height: 200px;
  width: 300px;
}

.article-column p img:nth-child(2n) {
  padding: .5rem .5rem 0 0;
  float: left;
}

.article-column p img:nth-child(2n+1) {
  padding: .5rem 0 0 .5rem;
  float: right;
}

@media screen and (max-width: 767px) {
  .article-column {
    width: 100%;
  }
}