@import './variables.css';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: calc(100vh + 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

.wrapper .container {
  position: relative;
  max-width: 1024px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 1.75rem;
  margin: 8rem 4rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container > header {
  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.container > header::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 10px;
  background-color: var(--light-primary-color);
}

.container form {
  position: relative;
  min-height: 500px;
  margin-top: 1rem;
  background-color: #fff;
}

.container form .details {
  margin-top: 2rem;
}

.container form .details.address {
  margin-top: 1rem;
}

.container form .title {
  display: block;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 500;
  margin: .5rem 0;
  color: var(--secondary-color);
}

.container form button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  max-width: 250px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 6px;
  margin: 1.5rem auto;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
  cursor: pointer;
}

.container form button:hover {
  background-color: var(--light-primary-color);
}

.container form .fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 1rem);
  flex-direction: column;
  margin: .25rem 0;
}

#occupation .results.has-matches ul {
  width: 100%;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field label {
  font-size: 0.8rem;
  font-weight: 300;
}

.input-field input {
  outline: none;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--secondary-color);
  border-radius: 6px;
  border: 1px solid var(--dark-bg-color);
  padding: 0 1rem;
  height: 2.5rem;
  margin: .5rem 0;
}

#phone {
  outline: none;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--secondary-color);
  border-radius: 6px;
  border: 1px solid var(--dark-bg-color);
  height: 2.5rem;
  margin: .5rem 0;
  width: 100%;
}

.input-field input:is(:focus) {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.input-field input[type='date'] {
  color: var(--dark-bg-color);
}

.input-field input[type='date']:valid {
  color: var(--secondary-color);
}

.input-field select {
  outline: none;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--secondary-color);
  border-radius: 6px;
  border: 1px solid var(--dark-bg-color);
  padding: 0 1rem;
  height: 2.5rem;
  margin: .5rem 0;
}

.message.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  form .fields .input-field {
    width: calc(100% / 2 - 1rem);
  }

  .results.has-matches ul {
    width: 100%;
  }
}

@media (max-width: 545px) {
  form .fields .input-field,
  .results.has-matches ul {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .nav-links > ul > li {
    width: 125px;
    text-align: center;
  }

  .nav-links li:last-child a::before {
    content: '*';
    position: relative;
    left: 45%;
    bottom: 16px;
    color: #fff;
  }
}


/*                        POP-UP                     */


.popup-overlay {
  visibility: hidden;
  position: absolute;
  background: #fff;
  border: 3px solid var(--secondary-color);
  width: 50%;
  height: 50%;
  left: 25%;
}

.popup-overlay.active {
  visibility: visible;
  text-align: center;
}

.popup-content {
  visibility: hidden;
}

.popup-content.active {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  margin: .20rem;
  font-size: 1rem;
  color: var(--secondary-color);
  background: #fff;
  border: 1px solid var(--secondary-color);
}

button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  color: #fff;
}


/* FORM VALIDATION */

form:invalid .submit-btn {
  pointer-events: none;
  background-color: var(--bg-color);
}

form:has(.invalid) .submit-btn {
  pointer-events: none;
  background-color: var(--bg-color);
}

.message textarea {
  outline: none;
  resize: none;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--secondary-color);
  border-radius: 6px;
  border: 1px solid var(--dark-bg-color);
  padding: 1rem;
  height: 10rem;
  width: 90vw;
  margin: .5rem 0;
}

.message textarea:is(:focus) {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1024px) {
  .message textarea {
    width: 850px;
  }
}


/* ======================= Occupation Search =====================*/

.results {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
}

.results.has-matches ul {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  display: block;
  z-index: 10;
}

.results ul li {
  padding: 0 .8px;
  cursor: pointer;
  background: #fff;
}

.results ul li:hover {
  background-color: var(--lighter-primary-color);
}