@import './variables.css';

.swiper {
  position: relative;
  width: 90vw;
  height: 80vh;
  border-radius: 50px;
  margin-bottom: 2rem;
}

.swiper-slide {
  width: inherit;
  height: inherit;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

body > main > .wrapper {
  margin-top: 8rem;
}

main h1 {
  display: block;
  border-bottom: 8px double var(--primary-color);
  color: var(--secondary-color);
  margin-bottom: .8rem;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .nav-links ul li {
    width: 125px;
    text-align: center;
  }

  .nav-links li:nth-child(3) a::before {
    content: '*';
    position: relative;
    left: 33%;
    bottom: 16px;
    color: #fff;
  }
}
