@import './variables.css';

.swiper {
  width: 90vw;
  height: 80vh;
  border-radius: 50px;
  margin-bottom: 2rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

body > main > .wrapper {
  margin-top: 8rem;
}

main h1 {
  display: block;
  border-bottom: 8px double var(--primary-color);
  color: var(--secondary-color);
  margin-bottom: .8rem;
  text-align: center;
}

