@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import '/styles/variables.css';

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--low-op-bg-color);
}

main {
  background: linear-gradient(
    var(--primary-color),
    var(--lightest-primary-color)
  );
}

.main-page {
  margin-inline: auto;
  max-width: 767px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}

.main-page .section:nth-child(2n) {
  margin-top: 2rem;
  background: linear-gradient(
    45deg,
    var(--lighter-primary-color),
    var(--dark-bg-color)
  );
  padding: 1rem 3rem;
  display: flex;
}

.main-page .section:nth-child(2n + 1) {
  margin-top: 2rem;
  background: linear-gradient(
    45deg,
    var(--dark-bg-color),
    var(--lighter-primary-color)
  );
  padding: 1rem 3rem;
  display: flex;
}

.main-page .section:first-child {
  margin-top: 5rem;
}

.main-page .section:last-child {
  margin-bottom: 2rem;
}

.main-page .section img {
  height: 256px;
  width: 333px;
  padding: 0.5rem;
}

.main-page .section:nth-child(2n) p img {
  float: left;
  order: 1;
  padding-left: 0;
  padding-bottom: 0;
}

.main-page .section:nth-child(2n + 1) p img {
  float: right;
  order: 2;
  padding-right: 0;
  padding-bottom: 0;
}

.section p {
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
}

.text-container h2 {
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 767px) {
  .nav-links ul li {
    width: 125px;
    text-align: center;
  }

  .nav-links li:first-child a::before {
    content: '*';
    position: relative;
    left: 30%;
    bottom: 16px;
    color: #fff;
  }
}

@media (max-width: 333px) {
  .main-page .section div.text-container img {
    width: 250px;
    height: 175px;
  }

  div.text-container {
    width: 250px;
  }
}

@media (max-width: 260px) {
  .main-page .section div.text-container img {
    width: 200px;
    height: 135px;
  }

  div.text-container {
    width: 200px;
  }
}

/* ================= Dialog OneTime =============*/

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #fff;
  border: 3px solid var(--secondary-color);
  width: 50%;
  height: 50%;
  left: 25%;
  margin-top: 4rem;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

a button {
  display: inline-block;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  min-width: 120px;
  max-width: 250px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 6px;
  margin: 1.5rem auto;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
  cursor: pointer;
}

.popup-content a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background: var(--lighter-primary-color);
  color: #fff;
}

.home-btn {
  margin-top: -1rem;
  background-color: var(--dark-bg-color);
}
