@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import './variables.css';

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(-.4rem);
  }
  10%,
  30%,
  50% {
    transform: translate(.1rem);

  }
  70%,
  100% {
    transform: translate(0);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}


/* ======================= HEADER SECTION =============================*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--secondary-color);
  margin-bottom: 3rem;
}

img {
  cursor: pointer;
}

.nav__links {
  display: flex;
  margin-right: 1.25rem;
}

.nav__links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__links li {
  margin-left: 1.25rem;
  list-style: none;
  transition: all 0.3s ease 0s;
}

.nav__links li:hover {
  background-color: var(--light-secondary-color);
}

.nav__links li a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 1rem;
  display: block;
  transition: all 0.3s ease 0s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.nav__links li a:hover {
  color: #fff;
}

.logo__container {
  margin: 1rem 0rem 1rem 1.25rem;
  height: 2.5rem;
}

.logo__container a {
  height: inherit;
}

.logo__container img {
  height: inherit;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.3rem;
}

.toggle-button .bar {
  height: 0.2rem;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

@media (max-width: 767px) {
  .toggle-button {
    display: flex;
  }

  .nav__links {
    display: none;
    width: 100%;
    background-color: var(--dark-bg-color);
  }
  .nav__links ul {
    width: 100vw;
    flex-direction: column;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__links li {
    text-align: center;
    margin-left: 0;
  }

  .nav__links li a {
    padding: .5rem;
    color:#fff;
    transition: all 0.3s ease 0s;
  }

  .nav__links li a:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
  }

  .nav__links.active {
    display: flex;
  }
}



/* =============================== FOOTER SECTION =======================*/

.footer {
  background-color: var(--light-secondary-color);
  padding: 2.5rem 5rem;
  margin-top: 3rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 50%;
  padding: 0 3rem;
}

.footer h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
  position: relative;
  background-color: var(--low-op-secondary-color);
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--secondary-color);
  height: 2px;
  width: 50px;
}

.footer-col ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: .6rem;
}

.row .footer-col:first-child ul {
  flex-direction: column;
}

.footer-col li a {
  text-decoration: none;
  color: #e0d7cf;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  color: var(--bg-color);
  background-color: var(--low-op-secondary-color);
  padding: .25rem;
}

.row .footer-col:not(:last-child) li a:hover {
  color: #fff;
  padding-left: .5rem;
}

.footer-col img {
  height: 3rem;
  width: 3rem;
}

.social-links a {
  transition: all 0.5s ease;
}

.social-links a:hover {
  animation: shake 1.5s ease-in;
}

@media (max-width: 767px) {
  .footer-col {
    padding: 0 1.5rem;
  }

  .footer-col img {
    height: 2rem;
    width: 2rem;
  }

  .footer-col h5 {
    font-size: 1rem;
    padding: 0.2rem;
  }

  .footer-col li a {
    font-size: 1rem;
  }

  .footer h4 {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}